<div class="card-container">
  <div class="card" style="width: 18rem;">
    <img [src]="cubo.imagen" class="card-img-top" alt="{{cubo.nombre}}">
    <div class="card-body">
      <h5 class="card-title">{{cubo.nombre}}</h5>
      <p class="card-text">Precio: {{cubo.precio}} €</p>
      <p class="card-text">Valoración: {{cubo.valoracion}}/5</p>
    </div>
  </div>
  
  <div class="comentarios-container" *ngIf="comentarios.length > 0">
    <h3 class="comentarios-title">Comentarios</h3>
    <div *ngFor="let com of comentarios" class="comentario">
      <p>{{com.comentario}}</p>
    </div>
  </div>

  <div *ngIf="comentarios.length === 0" class="no-comentarios">
    <p>No hay comentarios disponibles para este cubo.</p>
  </div>
</div>
